/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header:not(.not-top-img):before {
  border-radius: 0px 0px 25px 25px;
  margin-bottom:100px;
 /* background-color: transparent !important;
  backdrop-filter: blur(5px)*/
}

/*#nav {
  
  webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px)!important;
    background: rgba(255,255,255,0)!important;
}

[data-theme="dark"] #nav {
  background-color:rgb(0 0 0 / 30%) !important;
-webkit-backdrop-filter: saturate(180%) blur(20px);
backdrop-filter: saturate(180%) blur(20px)!important;
}*/

/* 页脚透明 */
#footer {
  background: transparent !important;
}
/* 头图圆角 */
#page-header {
  border-radius: 0px 0px 25px 25px;
}

/*顶栏模糊*/
#nav {
backdrop-filter: blur(5px)
}

/*夜间模式*/

[data-theme="dark"] div#post  {
  background-color:#1E1F26 !important;
}

[data-theme="dark"] #recent-posts > .recent-post-item  {
  background-color:#1E1F26 !important;
}

[data-theme="dark"] #aside-content .card-widget  {
  background-color:#1E1F26 !important;
}

[data-theme="dark"] div#tag {
  background-color:#1E1F26 !important;
}

[data-theme="dark"] div#archive {
  background-color:#1E1F26 !important;
}

[data-theme="dark"] div#page {
  background-color:#1E1F26 !important;
}

[data-theme="dark"] div#category {
  background-color:#1E1F26 !important;
}

[data-theme="dark"] div#category {
  background-color:#1E1F26 !important;
}


/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 10px;
}
/* 首页侧栏卡片 */
#aside-content .card-widget {
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

/*文章页圆角*/
.layout > div:first-child:not(.recent-posts) {
  border-radius: 25px;
  margin-right: 0px;
  margin-left: 0px;
}

/* 分页页面 
div#page {
  border: 1px solid #608CFD;
}

/* 归档页面 
div#archive {
  border: 1px solid #608CFD;
}

/* 标签页面 
div#tag {
  border: 1px solid #608CFD;
}

/* 分类页面 
div#category {
  border: 1px solid #608CFD;
}*/





/*全局字体*/

*{font-family:LXGW WenKai}
*{font-weight:bold}
body {font-family: LXGW WenKai;}

h1#site-title {
  font-family: LXGW WenKai;
  font-size: 2.5em !important;
}
/*@font-face {
  font-family: ZhuZiAYuanJWD;
  src: url(/zt/ttq.ttf);
  font-display: swap;
  font-weight: lighter;
}
div#menus {
  font-family: "ZhuZiAYuanJWD";
}
h1#site-title {
  font-family: ZhuZiAYuanJWD;
  font-size: 2.5em !important;
}
a#site-name {
    font-family: ZhuZiAYuanJWD;
    }
span#subtitle {
    font-family: ZhuZiAYuanJWD;
}
a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
  font-family: ZhuZiAYuanJWD;
}*/

/* 滚动条 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  display: none;
}





.flink-list a.flink-list-card:hover::before{backdrop-filter:saturate(180%) blur(20px);-webkit-backdrop-filter:saturate(180%) blur(20px);box-shadow:0 0 5px rgb(0 0 0 / 15%)}

#nav .menus_items .menus_item .menus_item_child li{display:inline-block}

ul.menus_item_child{overflow:hidden;border-radius:5px}

#web_bg{-webkit-animation:imgblur 1.5s 1 ease-in-out!important;animation:imgblur 1.5s 1 ease-in-out!important}

@keyframes imgblur{0%{filter:blur(15px)}100%{filter:blur(0)}}

@-webkit-keyframes imgblur{0%{-webkit-filter:blur(15px)}100%{-webkit-filter:blur(0)}}
.flink-list>a{box-shadow:none!important}

figure.highlight pre .deletion{color:red!important}

figure.highlight pre .addition{color:#4cd137!important}

.card-ip a>img{border-radius:7px!important;width:100%!important;margin-top:5px!important}

#sidebar #sidebar-menus .menus_items .site-page:hover{border-radius:7px}

#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover{border-radius:6px}

 #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover{border-radius:6px}
 
 .card-info #card-info-btn{border-radius:6px}
 

 .article-sort-item-img,.aside-list-item .thumbnail{border-radius:7px}
 
 .pagination-post,.relatedPosts-list>div{border-radius:8px!important}.toc-link{border-radius:6px!important}
 
 
 .aplayer-list li:hover{background:rgba(255,255,255,.1)!important;backdrop-filter:blur(15px)}
 
 .aplayer-list-cur{background:#666!important}
 
 .aplayer-bar .aplayer-played,.aplayer-thumb{background:#4c4948!important}
 
 .aplayer-info{border:none!important}
 
 .aplayer-list li{border:none!important}
 
 .aplayer-icon.aplayer-icon-lrc{opacity:0!important;width:0!important;height:0!important}
 
 .el-input__inner::placeholder{color:#777!important}
 
 .el-textarea__inner::placeholder{color:rgba(0,0,0,.5)!important}
 
 .tk-extras{color:rgba(0,0,0,.5)!important}
 
 .current{
   border-radius:8px}
 
/*---------------------------------------------------------------------------------*/

#article-container img {
    border-radius: 5px;
}

/* 文章目录 */
 #aside-content #card-toc .toc-content {
  margin: 10px -18px;
}
 #aside-content #card-toc .toc-content .toc-link.active {
  line-height: 1.2;
  border-radius: 12px;
  border-left-color: var(--heo-hovertext);
  background-color: var(--heo-card-bg);
  color: #608CFD; /*C颜色*/
  font-weight: bold;
  font-size: 20px;
}
[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
  color: var(--heo-white);
}
#aside-content #card-toc .toc-content .toc-item.active .toc-link {
  opacity: 1;
  border-radius: 8px;
}
#aside-content #card-toc .toc-content .toc-link {
  line-height: 1.2;
  padding: 8px;
  border-left: 0px solid transparent;
  border-radius: 12px;
  color: var(--heo-secondtext);
  cursor: default;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span {
  opacity: 0.6;
  cursor: pointer;
  filter: blur(1px);
  transition: 0.3s;
}
#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
  filter: blur(0px);
  opacity: 1;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
  color: var(--heo-lighttext);
}

/*版权装饰圈*/
/*版权卡片美化*/
#post .post-copyright {
position: relative;
margin: 2rem 0 0.5rem;
padding: 1.5rem 0.8rem;
border: 1px solid #608CFD;
border-radius: 20px; /*边框圆角*/
}
#post .post-copyright:before {
position: absolute;
top: -1.9rem; /*C位置*/
color: #49b1f540; /*C颜色*/
font-size: 6rem; /*C大小*/
}

/*打赏按钮*/
.reward-button {
    border-radius: 8px;
    }
/*本地搜索美化*/
.search-dialog .search-nav {
    color: #000000;
    font-size: 1.6em;
    line-height: 2;
}
#local-search .search-dialog .local-search-box input {
  padding: 13px 21px;
  border: 3px solid #608CFD;
  border-radius: 11px;
}
/*右下角按钮*/
#rightside > div > button, #rightside > div > a {
  display: block;
  margin-bottom: 6px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

/*评论背景*/
#twikoo .tk-content {
  background: rgb(0 0 0 / 10%);
  padding: 10px 15px;
  border-radius: 7px;
}



